
body {
    background-color: white;
}
.wrapper {
    margin: 0 auto;
    max-width: 1140px;
}
.separator {
    font-size: 8px;
    line-height: 8px;
}
#nav{
    height: 60px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    margin: 20px auto;
    gap: 5px;
}
#navinfo{
    height: 60px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    margin: 30px auto 10px auto;
    gap: 5px;
}

#line{
    height: 5px;
    box-shadow: 0px 0px 5px black inset, 0 10px 20px darkgray;

}
hr {
    margin: 0 auto; 
    color: darkgray; 
    background-color: none; 
    border: 0; 
    opacity: 0.6; 
    width: 90%;
    border-radius: 3px;
}

.menu{
    background-color: lightgray;
    border: solid black;
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin: 10 0 10 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px 2px darkgrey;
    height: 45px;
    
}
.menu:hover{
    background-color:rgba(7, 136, 7, 0.774); 
    box-shadow: 0px 0px 15px rgba(7, 136, 7, 0.774); 
    color: white;
    cursor: pointer;
}

.nav-pills .nav-link:hover {
    background-color:rgba(7, 136, 7, 0.774); 
    box-shadow: 0px 0px 15px rgba(7, 136, 7, 0.774); 
    color: rgba(7, 136, 7, 0.774);;
    cursor: pointer;
    text-decoration: none;
    
}
.nav-item {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}
.txt-link {
    display: inline-block;
    font-weight: bolder;
    width: 90%;
    text-decoration: none;
    color: black;
}

.globe {
    margin: 30 auto;
    max-width: 280px;
    width: 100%;
}
.header-txt {
    color: rgba(7, 136, 7, 0.774);;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0 10px 0;
}
.content {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 68%;
    height: 365px;
    margin-top: 50px;
}

.contentcalc {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 68%;
}
.h1-txt {
    color: rgba(7, 136, 7, 0.774);;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0 10px 0;
}
.ask-txt {
    color: rgba(7, 136, 7, 0.774);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 4px 0;
}
.ask-txtgraf {
    color:rgba(7, 136, 7, 0.774);
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: smaller;
    font-weight: bolder;
    text-align: center;
    margin: 0 0 90px 0;
}
.content-txt {
    color: rgba(7, 136, 7, 0.774);;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: medium;
    font-weight: bolder;
    text-align: center;
    margin: 40px 0 20px 0;
}
.carousel-indicators {
    margin-bottom: -1rem;
    
    
}
#carouselIndicators{
    margin-top: 50px;
}
.imgCarousel {
    background-color:rgba(7, 136, 7, 0.774); 
    border: 2px solid rgba(7, 136, 7, 0.774);;
    border-radius: 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 210px;
    width: 210px;
}
.imgCarousel img {
    border: 2px solid rgba(7, 136, 7, 0.774);;
    border-radius: 12px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}
.form-control {
    font-size: 0.8rem;
    line-height: 1;
    padding: .2rem .75rem;
}
.btn {
    font-size: 0.8rem;
    line-height: 1;
    padding: .3rem .75rem;
    width: 132px;
}
.divChart {
    background-color: white;
    border: 2px solid rgba(7, 136, 7, 0.774);
    border-radius: 12px;
    margin: 0 auto;
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}
.myChart {
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
}
.txtChart {
    margin: 4px 0 4px 0;
}
#foot{
    
    /*background-color: rgba(255, 255, 255, 0.4);*/
    height: 100px;
    width: 100%;
    background-color: rgba(255, 182, 87, 0.774);
    border-radius: 5px;
    background-position-y: bottom;
    box-shadow: 0px 0px 10px black inset, 0px 20px 10px black;
    margin-top: 5%;
    
    
}
#footinfo{
    
    /*background-color: rgba(255, 255, 255, 0.4);*/
    height: 100px;
    width: 100%;
    background-color: rgba(255, 182, 87, 0.774);
    border-radius: 5px;
    background-position-y: bottom;
    box-shadow: 0px 0px 10px black inset, 0px 20px 10px black;
    margin-top: 1%;
    
}
.texto{
    height: 60px;
    width: 45%;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    float: left;
    list-style-type: none;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: smaller;
    font-weight: bolder;
    margin-top: 10px;

}
.redes{
    
    width: 45%;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    float: right;
    justify-content: right;
    margin: 30 0 10 0;

}
.icon img{
    height: 70px;
    width: auto;
   
}
.iconinfo img{
    height: 70px;
    width: auto;
    margin-top: 30px;
   
}